body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
    font-family: sans-serif;
    background-color: grey;
    height: 100vh;
}

.container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: 150px;
    padding-right: 155px;
    padding-bottom: 150px;
    background-color: aqua;
}

img {
    width: 150px;
    height: 150px;
}