body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
    font-family: sans-serif;
    background-color: grey;
    height: 100vh;
}

.container {
    background-color: #845EC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 700px;
    gap: 10px;
    border-radius: 16px;
}

.reset {
    border : solid;
    border-radius: 8px;
    background-color: #845EC2;
    font-size: 18px;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.reset:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 10px;
}

.gameBtn {
    width: 150px;
    height: 150px;
    padding-right: 155px;
    padding-bottom: 150px;
    border-radius: 8px;
    background-color: #B39CD0;
    transition-duration: 0.4s;
    cursor: pointer;
}

.gameBtn:hover {
    background-color: #9480ac;
    transform: scale(1.05);
}

.gameBtn:disabled {
    background-color: #9480ac;
    
}

.gameBtn:active {
    transform: scale(1.03);
}

.round {
    font-size: 24px;
    border-radius: 8px;
    color: white;
    background-color: gray;
    padding-left: 4px;
    padding-right: 4px;
}

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 680px;
    padding-bottom: 20px;
}

.score {
    font-size: 48px;
}

.buttons img {
    width: 150px;
    height: 150px;
}

.images img {
    width: 250px;
    height: 250px;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.circle {
    border: solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#playerScore, #computerScore{
    display: flex;
    gap: 15px;
}

#computerScore {
    flex-direction: row-reverse;
}